<!DOCTYPE html>
<html>
    <head>
        <title>Arzy Rox</title>
    </head>
    <body>
        <h3>Arzy Rox</h3>
        <p> i typed this out in an html file for the abbreviations</p>
        <p>i pressed p, then enter and it made the proper elements for me</p>
        <p><em>then i changed the whole file into an erb file</em></p>
        <p>why?</p>
        <p>hmm</p>
        <p>idk?         lol</p>
        <p>hopefully soon i figure out what the proper name for the colors of the code are and how to get them in an erb file</p>
        <p>does it relate to when i make a executable file executable by using a shebang and it finally gets the colors and follows the indentation?</p>
    </body>
</html>