<!DOCTYPE html>
<html> 
    <head>
        <title> This is the title of the tab! </title>

    </head>

    <body>
        <h1> Hello World</h1>
        <p> This HTML code is inside of a '.erb' file </p>
        <p> why is this not color schemed or not following the indentations </p>
    </body>

</html>